﻿@{
	ViewData["Title"] = "Login";
}
<div class="main-wrapper">
	<!-- ============================================================== -->
	<!-- ============================================================== -->
	<!-- Login box.scss -->
	<!-- ============================================================== -->
	<div class="auth-wrapper d-flex no-block justify-content-center align-items-center>
		<div class="auth-box row">
			
					<form id="form_login" class="mt-4">
						<div class="row">
							<div class="col-lg-12">
								<div class="form-group">
									<label class="text-dark" for="username">Username</label>
									<input class="form-control" name="username" id="username" type="text" placeholder="enter your username" />
								</div>
							</div>
							<div class="col-lg-12 text-center">
								<button type="submit" class="btn btn-block btn-dark">Sign In</button>
							</div>
							
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- ============================================================== -->
	<!-- Login box.scss -->
	<!-- ============================================================== -->
</div>

<script>
	$("#form_login").validate({
		errorClass: "is-invalid text-danger",
		rules: {
			username: {
				required: true,
			}
			
		},
		messages: {
			username: {
				required: "Please fill email",
			}
		},
		submitHandler: function (form) {

			//var dataForm = $(form).serialize()
			var username = $("#username").val()
			

			$.ajax({
				url: "/Auth/LoginSubmit",
				data: { username: username },
				method: "post",
				//type: "get",
				dataType: "json",
				
				success: function (respon) {
					var data = respon.dataRespon

					if (data.success) {
						$("#myModal").modal("hide")
						toastr.success(
							data.message,
							'',
							{
								timeOut: 500,
								fadeOut: 500,
								onHidden: function () {
									window.location.reload()
								}
							}
						)
					} else {
						toastr.error(data.message)
					}
				}
			})

		}
	});
</script>