﻿@using Med_Id.viewmodels
@model VMCourierType
@{
    //Layout = null;
    ViewData["Title"] = "Edit Courier  Type";

}
<div class="card">
    <div class="card-body">
        <h2 class="text-left display-6">@ViewData["Title"]</h2>

        <form asp-action="Detail" method="post" id="form_input">
            <input type="hidden" name="Id" id="Id" value="@Model.Id" />
            <div class="mb-4 row a">
                <label for="Name" class="col-sm-4 col-form-label">Name*</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="Name" name="Name" value="@Model.Name" readonly>

                </div>
            </div>

            <div class="mb-4 row a">
                <label for="NameCourier" class="col-sm-4 col-form-label">Name*</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="NameCourier" name="NameCourier" value="@Model.NameCourier" readonly>

                </div>
            </div>
@*
            <div class="mb-4 row">
                <label for="CourierId" class="col-sm-4 col-form-label">Name Courier</label>
                <div class="col-sm-8">
                    @Html.DropDownList("CourierId",
                    new SelectList(ViewBag.ListCourier, "Id", "Name"),
                    "--Pilih Kategori--",
                    new { @class= "form-control" }
                    )
                </div>
            </div>*@

            <div class="mb-4 row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a class="btn btn-light" asp-controller="CourierType" asp-action="Index">Back To List</a>
                </div>
            </div>
        </form>

    </div>
</div>