﻿@using Med_Id.web.Services
@inject AuthService authService
@{
    int IdUser = @Context.Session.GetInt32("IdUser") ?? 0;
    int IdRole = @Context.Session.GetInt32("IdRole") ?? 0;
    string NameUser = @Context.Session.GetString("NameUser") ?? "";
    var menus = await authService.MenuAccess(IdRole);
}﻿


<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-white-primary elevation-4">
    <!-- Brand Logo -->
   

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="image d-flex justify-content-center">
                <img src="~/adminlte/dist/img/Logo.png" height="50" width="150" alt="Logo" class="brand-image">            
        </div>

        <!-- Sidebar Menu -->

        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

            @foreach (var parent in menus)
            {
                    @if (parent.RoleId == IdRole)
                    {
                        <li class="nav-item menu-open">
                            <a class="nav-link">
                                <i class="nav-icon fas fa-light fa-folder" data-feather="@parent.BigIcon"></i>
                                <span class="hide-menu">@parent.Name</span>
                            </a>

                        </li>
                            @foreach (var child in parent.ListChild)
                            {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="@child.Name" asp-action="@child.Url">
                                    <i class="far fa-light fa-file nav-icon"></i>
                                    <span class="menu-open">@child.Name</span>
                                </a>
                            </li>


                            }
                    }
            }
            </ul>
@*

            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
                <li class="nav-item menu-open">
                    <a href="#" class="nav-link active">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Dashboard
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="./index.html" class="nav-link active">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Dashboard v1</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="./index2.html" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Dashboard v2</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="./index3.html" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Dashboard v3</p>
                            </a>
                        </li>
                    </ul>
                </li>
*@




            @*<ul id="sidebarnav">

                @foreach (var parent in menus)
                {
                    <li class="sidebar-item">
                        <a class="sidebar-link has-arrow" href="javascript:void(0)"
                           aria-expanded="false">
                            <i data-feather="@parent.BigIcon" class="feather-icon"></i>
                            <span class="hide-menu">@parent.Name</span>
                        </a>
                        <ul aria-expanded="false" class="collapse first-level base-level-line">

                            @foreach (var child in parent.ListChild)
                            {
                                <li class="sidebar-item">
                                    <a asp-controller="@child.Name" asp-action="@child.Url" class="sidebar-link">
                                        <span class="hide-menu">@child.Name</span>
                                    </a>
                                </li>
                            }

                        </ul>
                    </li>
                }

            </ul>*@
            @*<ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->
                @if (NameUser == "Admin")
                {
                @foreach (var parent in menus)
                {
                    <li class="sidebar-item">
                        <a asp-controller="@parent.Name" asp-action="@parent.Url" class="sidebar-link"> @parent.Name
                            <i class="feather-icon" data-feather="@parent.BigIcon"></i>
                            
                        </a>
                    </li>

                }
                    @if (NameUser == "Doctor")
                    {
                        @foreach (var parent in menus)
                        {
                            <li class="sidebar-item">
                                <a asp-controller="@parent.Name" asp-action="@parent.Url" class="sidebar-link">
                                    @parent.Name
                                    <i class="feather-icon" data-feather="@parent.BigIcon"></i>

                                </a>
                            </li>

                        }

                        <li class="list-divider"></li>
                        <li class="sidebar-item">
                            <a class="sidebar-link sidebar-link" asp-controller="Auth" asp-action="Logout" aria-expanded="false">
                                <i data-feather="log-out" class="feather-icon"></i><span class="hide-menu">Logout</span>
                            </a>
                        </li>

                    }


                    <li class="list-divider"></li>
                    <li class="sidebar-item">
                        <a class="sidebar-link sidebar-link" asp-controller="Auth" asp-action="Logout" aria-expanded="false">
                            <i data-feather="log-out" class="feather-icon"></i><span class="hide-menu">Logout</span>
                        </a>
                    </li>

                }

                    @*<li class="nav-item">
                        <a class="nav-link" asp-controller="Courier" asp-action="Index">
                            <i class="nav-icon fas fa-columns"></i>
                            <p>Courier Page</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="CourierType" asp-action="Index">
                            <i class="nav-icon fas fa-columns"></i>
                            <p>Courier Type</p>
                        </a>
                    </li>

                    <li class="nav-header">Transaction</li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Profile" asp-action="Index">
                            <i class="nav-icon fas fa-columns"></i>
                            <p>Profile Doctor</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="CourierType" asp-action="Index">
                            <i class="nav-icon fas fa-columns"></i>
                            <p>Detail Profile Doctor</p>
                        </a>
                    </li>

            </ul>*@
                    
                
            
        </nav>
        

        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>
