﻿@using Med_Id.viewmodels
@model VMDoctor
@{
    //Layout = null;
    ViewData["Title"] = "Edit Doctor";

}
<div class="card">
    <div class="card-body">
        <h2 class="text-left display-6">@ViewData["Title"]</h2>


        <form asp-action="Edit" method="post" id="form_input">
            <input type="hidden" name="Id" id="Id" value="@Model.Id" />

            <div class="mb-4 row a">
                <label for="Str" class="col-sm-4 col-form-label">STR</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="Str" name="Str" value="@Model.Str">

                </div>
            </div>

            <div class="mb-4 row">
                <label for="BiodataId" class="col-sm-4 col-form-label">Name Doctor</label>
                <div class="col-sm-8">
                    @Html.DropDownList("BiodataId",
                    new SelectList(ViewBag.ListBiodata, "Id", "Fullname"),
                    "--Pilih Kategori--",
                    new { @class= "form-control" }
                    )
                </div>
            </div>
            <div class="mb-4 row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a class="btn btn-light" asp-controller="Doctor" asp-action="Index">Back To List</a>
                </div>
            </div>
        </form>

    </div>
</div>

<script>
    $("#form_input").validate({
        errorClass: "is-invalid text-danger",
        rules: {
            Str: {
                required: true,
                minlength: 3,
            },
            BiodataId: "required",
        },
        messages: {
            Str: {
                required: "Please fill name Courier!",
                minlength: "The Name must consist of at least 3 character!",
            },
            BiodataId: "Plese Select BiodataId",

        },
        submitHandler: function (form) {
            var dataForm = $(form).serialize();


            $.ajax({
                url: "/Doctor/Edit",
                type: "POST",
                dataType: "json",
                data: dataForm,
                success: function (respon) {
                    var data = respon.dataRespon
                    if (data.success) {
                        $("#myModal").modal("hide")

                        toastr.success(
                            data.message,
                            '',
                            {
                                timeOut: 500,
                                fadeOut: 500,
                                onHidden: function () {
                                    window.location.reload()
                                }
                            }
                        )
                    }
                    else {

                        toastr.error(data.message)
                    }
                }
            })
        }
    })
</script>