﻿@using Med_Id.datamodels
@model MCourier
@{
    //Layout = null;
    ViewData["Title"] = "Edit Courier";

}
<div class="card">
    <div class="card-body">
        <h2 class="text-left display-6">@ViewData["Title"]</h2>

        <input type="hidden" name="Id" id="Id" value="@Model.Id" />

        <form asp-action="Detail" method="post" id="form_input">
            <div class="mb-4 row a">
                <label for="Name" class="col-sm-4 col-form-label">Name*</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="Name" name="Name" value="@Model.Name" readonly>

                </div>
            </div>



            <div class="mb-4 row">
                <div class="col-sm-10">
                    
                    <a class="btn btn-light" asp-controller="Courier" asp-action="Index">Back To List</a>
                </div>
            </div>
        </form>

    </div>
</div>
