﻿@using Med_Id.datamodels
@model MCourier
@{
    //Layout = null;
    ViewData["Title"] = "Edit Courier";

}
<div class="card">
    <div class="card-body">
        <h2 class="text-left display-6">@ViewData["Title"]</h2>

        <form asp-action="Edit" method="post" id="form_input">

            <input type="hidden" name="Id" id="Id" value="@Model.Id" />
            <div class="mb-4 row a">
                <label for="Name" class="col-sm-4 col-form-label">Name*</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" id="Name" name="Name" value="@Model.Name">

                </div>
            </div>

            <div class="mb-4 row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Submit</button>
                    <a class="btn btn-light" asp-controller="Courier" asp-action="Index">Back To List</a>
                </div>
            </div>
        </form>

    </div>
</div>

<script>
    $("#form_input").validate({
        errorClass: "is-invalid text-danger",
        rules: {
            Name: {
                required: true,
                minlength: 3,
            }
        },
        messages: {
            Name: {
                required: "Please fill name Courier!",
                minlength: "The Name must consist of at least 5 character!",
            }

        },


        submitHandler: function (form) {
            var dataForm = $(form).serialize();


            $.ajax({
                url: "/Courier/Edit",
                type: "POST",
                dataType: "json",
                data: dataForm,
                success: function (respon) {
                    console.log(respon)
                    var data = respon.dataRespon

                    if (data.success) {
                        $("#myModal").modal("hide")

                        toastr.success(
                            data.message,
                            '',
                            {
                                timeOut: 500,
                                fadeOut: 500,
                                onHidden: function () {
                                    window.location.reload()
                                }
                            }
                        )
                    }
                    else {

                        toastr.error(data.message)
                    }
                }
            })
        }
    })
</script>